.appContainer {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column-reverse;
  color: var(--color-text);
  background: var(--color-background);
}

.mainContainer {
	position: relative;
	width: 100%;
	height: 100%;
}

.light {
  --color-text: var(--color-dark);
  --color-background: var(--color-light);
}

.dark {
  --color-text: var(--color-light);
  --color-background: var(--color-dark);
}

@media screen and (min-width: 900px) {
	.appContainer {
		flex-direction: row;
	}
}
